@import "mvp.css";

/* Settings */
:root {
	--sign-up: "Sign Up";
	--sign-in: "Sign In";
	--project-name: "AS91902";
}

.logo::before {
	content: var(--project-name);
}

/* Login form styles */
.login-page {
	#login-form {
		#login-form-switch::before {content: var(--sign-in);}
		#login-form-header::before {content: var(--sign-up);}
	}

	.form-sign-in {
		#login-form-switch::before {content: var(--sign-up) !important;}
		#login-form-header::before {content: var(--sign-in) !important;}
		.sign-up {
			display:none;
			user-select:none;
		}
		#login-form-errors {display:none;}
	}
}

.auth, .admin, #login-form-errors {display:none;}
form {width:100%;}